*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    position: relative;
    width: 120px;
}

li a {
text-decoration: none;
display: inline-block;
padding: 5px 10px;
width: 120px;
height: 30px;
border: 1px solid #000;
color: #fff;
background-color:#191919 ;
}

li a:hover {
    background-color: rgb(124, 214, 165);
    color: rgb(44, 13, 148);
}

li>ul{
    display: none;
    position: absolute;
    top: 0px;
    left: 120px;
}

li:hover>ul{
    display: block;
}

nav li ul {
float: left;
}
